# Git
.git
.gitignore
.gitattributes

# Docker
.docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Tests
/tests
/.phpunit.cache
